<section data-ng-controller="StocksController">
	<div class="page-header">
		<h1>New Stock</h1>
	</div>
	<div class="col-md-12">
		<form name="stockForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': stockForm.title.$dirty && stockForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="title">Code</label>
					<div class="controls">
						<input name="code" type="text" data-ng-model="code" id="code" class="form-control" placeholder="Code" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="price">Price</label>
					<div class="controls">
						<input name="price" type="text" data-ng-model="price" id="price" class="form-control" placeholder="Price" required>
					</div>
				</div>				
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>